 h1{
background-image: url(./rick-and-morty-tv-rick-sanchez-morty-smith-wallpaper-preview.jpg);
background-repeat: no-repeat;
height: 100vh;
background-size: cover;
}
 img{
    float: left;
    height: 250px;
}
div{
background-color: brown;
text-align: center;
height: 250px;
border-style: solid;
font-style: italic;
}
i{
    font-size: 30px;
}